/* Example Select */

@function popover-transition($ease) {
  $speed: 250ms;
  @return opacity $speed linear, transform $speed $ease;
}

$arrowSize: 8;
@value arrowSize: #{$arrowSize};

.Select {
  color: white;
  min-width: 100px;

  :global(.arrow) {
    background-color: black;
    width:  $arrowSize * 1px;
    height: $arrowSize * 1px;
  }

  :global(.content) {
    background-color: black;
    border-radius: 4px;
    overflow: hidden;
  }

  :global(.item) {
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 250ms linear;

    &:hover,
    &:focus,
    &:active {
      background-color: grey;
    }
  }

  :global(.selected .item) {
    background-color: cornflowerblue;
  }

  :global(.highlighted .item) {
    background-color: purple;
  }
}

/// The base styles for popover components like
/// Tooltip and Dropdown.
.Popover {
  transition: popover-transition(ease-out);
  opacity: 0;

  &:global(.exiting) {
    transition: popover-transition(ease-in);
  }

  $move-amount: ($arrowSize/2) * 1px;
  $scale: 0.5;

  &:global(.top) {
    transform: translateY($move-amount) scale($scale);
    transform-origin: bottom center;
  }

  &:global(.bottom) {
    transform: translateY($move-amount * -1) scale($scale);
    transform-origin: top center;
  }

  &:global(.right) {
    transform: translateX($move-amount * -1) scale($scale);
    transform-origin: center left;
  }

  &:global(.left) {
    transform: translateX($move-amount) scale($scale);
    transform-origin: center right;
  }

  &:global(.entered) {
    opacity: 1;

    &:global(.top),
    &:global(.bottom),
    &:global(.right),
    &:global(.left) {
      transform: scale(1);
    }
  }
}
